* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    background: linear-gradient(to bottom, #1c1f26, #2c3e50);
    color: #f0f0f0;
    line-height: 1.6;
    padding: 20px;
    align-items: center;
}


.secao {
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff10;
}

h2 {
    color: #00bfff;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

h3 {
    color: #ffaaff;
    margin-top: 15px;
    font-size: 1.4rem;
}

p {
    margin-bottom: 10px;
    font-size: 1rem;
}

a {
    color: #80dfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 0 10px #00ffff44;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .cabecalho-sala h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 480px){
    .perfil-orkut-exemplo button{
        width: 100%;
        margin: 5px 0;
    }
    .secao{
        padding: 10px;
    }
    img{
        margin: 10px 0;
    }
}
    .menu-navegacao{
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 30px;
    }
    .menu-navegacao a {
        color: #00ffff;
        font-weight: bold;
        padding: 10px;
        border-radius: 6px;
        transition: background 0.3ms;


    }
    .menu-navegacao a:hoover {
        background-color: rgba(0, 255, 255, 0.2);

    }



